{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password | Kiddora</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <div class="auth-left">
            <h2>Forgot Password</h2>

            <form method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Registered Email" required>
                <button type="submit" class="primary-btn">Send OTP</button>
            </form>

        </div>

        <div class="auth-right">
            <img src="{% static 'images/gcas_02.jpeg' %}">
        </div>

    </div>
</div>

