{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | Kiddora</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <div class="auth-left">
            <h2>Login</h2>
            <a href="{% provider_login_url 'google' %}">Login with Google</a><br>
            <div class="divider">or</div>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="identifier" placeholder="Username or Email" required>
                {% comment %} <input type="email" name="username" placeholder="Email" required> {% endcomment %}
                <input type="password" name="password" placeholder="Password" required>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'accounts:forgot_password' %}">Forgot Password?</a><br>
                <button type="submit" class="primary-btn">Login</button>
            </form>
            <p class="bottom-text">
                New User? <a href="{% url 'accounts:signup' %}">Sign up now!</a>
            </p>
        </div>
        <div class="auth-right">
            <img src="{% static 'images/gcas_01.jpeg' %}">
        </div>
    </div>
</div>