{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | Kiddora</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <div class="auth-left">
            <h2>Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit" class="primary-btn">Reset</button>
            </form>
        </div>

        <div class="auth-left">
            <img src="{% static 'images/gcas_01.jpeg' %}">
        </div>

    </div>
</div>
