{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup | Kiddora</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">
        <div class="auth-left">
            <h2>Create Account</h2>

            <a href="{% url 'accounts:google_login' %}" class="btn btn-danger w-100">
                Login with Google
            </a>
            {% comment %} <a href="{% provider_login_url 'facebook' %}" class="btn btn-primary w-100 mt-2">
                Login with Facebook
            </a> {% endcomment %}

            <div class="divider">or</div>

            <form method="post" novalidate>
                {% csrf_token %}

                <input type="text" name="username" placeholder="User Name" required>
                <input type="email" name="email" placeholder="Email" required>

                <!-- MUST be password1 -->
                <input type="password" name="password1" placeholder="Password" required>
                <!-- MUST be password2 -->
                <input type="password" name="password2" placeholder="Confirm Password" required>

                {% if messages %}
                    {% for message in messages %}
                        <p class="error-text">{{ message }}</p>
                    {% endfor %}
                {% endif %}

                <button type="submit" class="primary-btn">Sign Up</button>
            </form>

            <p class="bottom-text">
                Already have an account?
                <a href="{% url 'accounts:login' %}">Login now!</a>
            </p>
        </div>

        <div class="auth-right">
            <img src="{% static 'images/gcas_08.jpeg' %}" alt="Signup image">
        </div>
    </div>
</div>

</body>
</html>


