/* MODAL */
#confirmModal {
    position: fixed;
    inset: 0;
    display: none;
    background: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.confirm-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
}