{% extends "base_profile.html" %} 
{% block content %}
<style>
    .form-container {
        max-width: 500px;
        margin: 30px auto;
        padding: 20px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    .form-container h2 {
        text-align: center;
        color: #f062c0;
        margin-bottom: 20px;
    }
    .form-container form input,
    .form-container form select {
        width: 100%;
        padding: 10px 12px;
        margin: 8px 0;
        border-radius: 8px;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    .form-container form button {
        width: 100%;
        padding: 10px;
        background: #f062c0;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 12px;
        cursor: pointer;
        transition: 0.3s;
    }
    .form-container form button:hover {
        background: #e94cab;
    }
</style>

<div class="form-container">
    <h2>Edit Address</h2>
    <form method="post">
        {% csrf_token %}
        <input name="address_line1" value="{{ form_data.full_name|default: address.address_line1 }}" placeholder="Address Line 1">
        <input name="city" value="{{ address.city }}" placeholder="City">
        <input name="state" value="{{ address.state }}" placeholder="State">
        <input name="country" value="{{ address.country }}" placeholder="Country">
        <input name="pincode" value="{{ address.pincode }}" placeholder="Pincode">
        
        <label>Address Type</label>
        <select name="address_type" required>
            <option value="">-- Select --</option>
            <option value="home" {% if address.address_type == "home" %}selected{% endif %}>Home</option>
            <option value="work" {% if address.address_type == "work" %}selected{% endif %}>Work</option>
            <option value="other" {% if address.address_type == "other" %}selected{% endif %}>Other</option>
        </select>
        
        <button type="submit"onclick="confirmUpdate('editForm')" >Update</button>
    </form>
    </form>
</div>
{% endblock %}
