{% extends "base_admin.html" %}

{% block content %}
<style>
.form-box {
    width: 50%;
    margin: 40px auto;
    padding: 25px;
    background: #f8f9fa;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea { resize: vertical; }

select[multiple] {
    cursor: pointer;
}


.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.btn-back {
    display: inline-block;
    padding: 10px 18px;
    background: #f062c0;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-back:hover {
    background: #e04faf;
}
.btn-custom {
    padding: 8px 18px;
    background: #f062c0;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-custom:hover {
    background: #e04faf;
}
.dropdown-checkbox {
    position: relative;
}

.dropdown-checkbox button {
    width: 100%;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 180px;
    overflow-y: auto;
    width: 100%;
    margin-top: 4px;
    padding: 8px;
}

.dropdown-content label {
    display: flex;
    gap: 6px;
    font-weight: normal;
}

.dropdown-checkbox.open .dropdown-content {
    display: block;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
}

</style>

<div class="form-box">
    <h2>{% if product %}Edit Product{% else %}Add Product{% endif %}</h2>

    <form method="post">
        {% csrf_token %}

        <!-- PRODUCT NAME -->
        <label>Product Name</label>
        <input type="text" name="product_name"
                value="{{ product.product_name|default:'' }}" required>

        <!-- BRAND (Select or Add New) -->
        <label>Brand</label>
        <input list="brandList" name="brand"
                value="{{ product.brand|default:'' }}" required>
        <datalist id="brandList">
            {% for b in brands %}
                <option value="{{ b }}">
            {% endfor %}
        </datalist>

        <!-- PRICING -->
        <label>Base Price</label>
        <input type="number" step="0.01" name="base_price" id="base_price"
                value="{{ product.base_price|default:'' }}" required>

        <label>Discount %</label>
        <input type="number" name="discount_percent" id="discount"
                value="{{ product.discount_percent|default:0 }}">

        <label>Final Price</label>
        <input type="number" step="0.01" name="final_price"
                id="final_price"
                value="{{ product.final_price|default:'' }}"
                readonly>
                        <!-- SKU -->
        <label>SKU</label>
        <input type="text" name="sku"
                value="{{ product.sku|default:'' }}" required>

        {% comment %} <label>Stock</label>
        <input type="number" name="stock"
                value="{{ product.stock|default:0 }}" required> {% endcomment %}

        <!-- CATEGORY -->
        <label>Category</label>
        <select name="category" required>
            <option disabled selected>Select Category</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}"
                {% if product and product.subcategory.category.id == cat.id %}selected{% endif %}>
                {{ cat.category_name }}
            </option>
            {% endfor %}
        </select>

        <!-- SUBCATEGORY -->
        <label>SubCategory</label>
        <select name="subcategory" required>
            <option disabled selected>Select SubCategory</option>
            {% for sub in subcategories %}
            <option value="{{ sub.id }}"
                {% if product and product.subcategory.id == sub.id %}selected{% endif %}>
                {{ sub.subcategory_name }}
            </option>
            {% endfor %}
        </select>

        <!-- GENDER -->
        <label>Gender</label>
        <select name="gender" required>
            <option disabled selected>Select Gender</option>
            {% for code, name in GENDER_CHOICES %}
            <option value="{{ code }}"
                {% if product and product.gender == code %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>

        <!-- AGE GROUP -->
        <label>Age Group</label> 
        <select name="age" multiple size="1" class="custom-multiselect" required> 
            <option disabled selected>Select Age</option> 
            <option value="0-6 months">0-6 months</option> 
            <option value="6-12 months">6-12 months</option> 
            <option value="1-2 years">1-2 years</option> 
            <option value="2-3 years">2-3 years</option> 
            <option value="3-5 years">3-5 years</option> 
            <option value="5-7 years">5-7 years</option> 
            <option value="7-10 years">7-10 years</option> 
            <option value="10-15 years">10-12 years</option>
            <option value="12-15 years">12-15 years</option> 
        </select> 
    <!-- Color -->
        <label>Colors</label>
        <small><i>(Enter colors separated by commas)</i></small>
        <input type="text"
            name="colors"
            placeholder="Red, Blue, Green"
            value="{% if product %}{% for v in product.variants.all %}{{ v.color }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}">

        <!-- SIZES -->
        <label>Size</label> 
            <select name="size" multiple size="1" class="custom-multiselect" required> 
                <option disabled selected>Select Size</option> 
                <option value="XS">XS</option> 
                <option value="S">S</option> 
                <option value="M">M</option> 
                <option value="L">L</option> 
                <option value="XL">XL</option> 
            </select> 
        


        <div class="form-actions">
            <a href="{% url 'products:admin_product_list' %}" class="btn-back">← Back</a>
            <button type="submit" class="btn-custom">Save</button>
            <a href="{% url 'products:admin_product_list' %}" class="btn-custom">Cancel</a>
        </div>
    </form>

<!-- AUTO FINAL PRICE -->
<script>
function calculateFinalPrice() {
    const base = parseFloat(document.getElementById("base_price").value) || 0;
    const discount = parseFloat(document.getElementById("discount").value) || 0;
    const finalPrice = base - (base * discount / 100);
    document.getElementById("final_price").value = finalPrice.toFixed(2);
}

document.getElementById("base_price").addEventListener("input", calculateFinalPrice);
document.getElementById("discount").addEventListener("input", calculateFinalPrice);


</script>

{% endblock %}
